
h1 {
    /*font family*/
    /* que pasa si una fuente no existe*/
    /*en css tenemos la opción de poner varios tipos de letra*/
    /*para que si la primera opción no existe css busque en la segunda y asi sucesivamente*/
    font-family: apple-system,Arial, Helvetica, sans-serif;
}

.parrafo {
    font-family: "dank-mono", monospace;
/*font size sirve para poder manejar el tamaño de la fuente*/
font-size: 100px;
}
